header {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;

    background-color: white;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: 20px;
    border-bottom: 1px solid #CCCCCC;
}